/*styles.css*/
html {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: dodgerblue;
   
}
.top {
    display:flex;
   
    flex-direction: column;
    

}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
    align-items: center;
}

.headerlinks {
    display: flex;
    margin: 0px 30px;
    gap: 20px;
    

}
.logo {
    margin-right: 30px;
    margin-left: 30px;
    
}
.pic1 {
   width: 100px;
   height: auto; 
}
 

/*tblock section*/

.tblock {
    display: flex;
    padding: 60px;
    background-color: lightgreen;
    column-gap: 30px;
    justify-content: center;
    gap: 70px;
    
    
}
.tblocksub1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    max-width: 400px;
    
    
}

.tblockbutton {
    display: flex;
    flex:0 1 0;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.tblocksub2 {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 200px;
    max-width: 400px;
}

/*First main body section*/

.main1 {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    align-items: center;
}
.m1block2 {
display: flex;
margin: 20px;

justify-content: center;
gap: 30px;


}

.m1block1 {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    padding-bottom: 10px;
    
}
.m1block2-1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}
.box1 {
    
    width: 150px;
    height: 150px;
    margin: 0px;
    border:5px blue solid;
    border-radius: 5px;
    
    background-color: black;
}

.boxu {margin-left: auto;
    

}

.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    
    
}
.m2block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 100px;
    
}
.main2p {
    font-style: italic;
    max-width: 500px;
    margin-bottom: 0px;
}
.name {display: flex;
    flex: 0 1 auto;
    
    align-self: flex-end;


}



/*bottom of the page*/

.bottom {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bblock {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: rgb(252, 152, 252);
    margin: 30px;
    width: 600px;
    justify-content: space-around
   
}
.bblocksub1 {
    
   
    background-color: orange;
    display: flex;
    flex-direction: column;
    

}
.bblocksub2 {
    display: flex;
    justify-content: center;
    align-self: center;
    
    
}
.signup2 {
    margin: 0px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}