/*styles.css*/

.top {
    display:flex;
   
    flex-direction: column;
    

}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    background-color: lightblue;
}

.headerlinks {
    margin: 0px 30px;

}
.logo {
    margin-right: 30px;
    margin-left: 30px;
}

/*tblock section*/

.tblock {
    display: flex;
    padding: 60px;
    background-color: lightgreen;
    column-gap: 30px;
    
    
}
.tblocksub1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    
}

.tblockbutton {
    display: flex;
    flex:0 1 0;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.tblocksub2 {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 200px;
}

/*First main body section*/
